In [24]:
import warnings
import pandas as pd 
import math
from scipy.spatial.distance import pdist, squareform
from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
data = pd.read_csv('./data/bank_data.csv')

In [188]:
datac = data.copy()

In [15]:
## find time to arrive
def time_to_arrive(s,e):
    try:
        return math.sqrt((e['x_coordinate']-s[0])**2 + (e['y_coordinate']-s[1])**2)/30
    except:
        return math.sqrt((e[0]-s[0])**2 + (e[0]-s[1])**2)/30

## what is the total time to rob?
def total_time_to_rob(start, bank):
    return time_to_arrive(start, bank) + bank['time (hr)']

## remove the bank robbed from dataframe
def clear_bank(df, bank):
    return df.drop(int(bank['id']), axis = 0,  inplace = True)


## find closest bank according to distance
def closest_bank(s, df):
    d = 9999999
    res = None
    for index, row in df.iterrows():
        t = time_to_arrive(s,row)
        if t < d:
            d = t
            res = row
    return res

## check if we have time to escape after the robbery attempt
def can_rob(hrs, start, bank):
    if hrs == 0:
        return False
    if (hrs - total_time_to_rob(start, bank)) > time_to_arrive(start, (0,0)):
        return True
    return False

def get_bank_with_least_rob_time(test):
    return test[test['time (hr)'] == min(test['time (hr)'])]

In [16]:
get_bank_with_least_rob_time(test)

        id  x_coordinate  y_coordinate  money  time (hr)
8579  8579      4.213866      2.220613    200   0.000032

In [17]:
# starting position is bank that takes least time to rob

start = (get_bank_with_least_rob_time(test)['x_coordinate'],get_bank_with_least_rob_time(test)['y_coordinate'])

def rob(df, hrs):
    
    banks_robbed = []

    start = (0,0)

    money = 0
    
    cb = closest_bank(start, test)
    
    while ((not test.empty) and can_rob(hrs, start, cb)):
        t = hrs - total_time_to_rob(start, cb)

        if t > 0:

            money += cb['money']

            banks_robbed.append(int(cb['id']))

            hrs = t
            start = (cb['x_coordinate'], cb['y_coordinate'])

            clear_bank(test, cb)
            
            cb = closest_bank(start, test)
            
#             print(f"Time Left: {t}hrs")
            
    print(f"You stole: {money}$")
    return (banks_robbed, start)

In [22]:
test = datac.head(10000)

test

        id  x_coordinate  y_coordinate  money  time (hr)
0        0      2.851925      1.201712  29700   0.273403
1        1      4.150372     -2.654334   6500   0.064040
2        2     -1.494092     -1.230419  89400   0.127458
3        3      1.271326     -0.088520  96100   1.315029
4        4      2.471113     -0.592810  41100   0.164393
...    ...           ...           ...    ...        ...
9995  9995     -2.472127      4.787304   2100   0.494904
9996  9996      1.034968     -4.321240  54900   0.492866
9997  9997     -0.512720     -2.949173  32200   0.933033
9998  9998      2.626841     -3.482923   5100   0.551312
9999  9999     -3.992507      0.090112  21000   1.107299

[10000 rows x 5 columns]

In [23]:
print(rob(test,24)[0])

You stole: 693100.0$
[4765, 8789, 6131, 7271, 8021, 9689, 3859, 6366, 6000, 9440, 6824, 6548, 9941, 4469, 3568, 5517, 3746, 640, 6787, 5303, 959, 7676, 8347, 2450, 6636, 3966, 1455, 1150, 4422, 9066]