In [5]:
import pandas as pd 

data = pd.read_csv('./data/bank_data.csv')

data.head()

   id  x_coordinate  y_coordinate  money  time (hr)
0   0      2.851925      1.201712  29700   0.273403
1   1      4.150372     -2.654334   6500   0.064040
2   2     -1.494092     -1.230419  89400   0.127458
3   3      1.271326     -0.088520  96100   1.315029
4   4      2.471113     -0.592810  41100   0.164393